/* Media Queries Mixin
**********************/
label {
  display: block;
  margin: 30px auto;
  text-align: center;
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 2.34375rem;
}

input {
  display: block;
  margin: 30px auto;
  text-align: center;
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 2.34375rem;
}

textarea {
  display: block;
  margin: 30px auto;
  text-align: center;
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 2.34375rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #3c096c;
  font-family: "Fira Sans", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.header {
  height: 20px;
  width: 100%;
  background-color: transparent;
  border-radius: 0px 0px 50px 50px;
  position: relative;
  z-index: 10000;
}
@media only screen and (min-width: 768px) {
  .header {
    background-color: rgba(199, 125, 255, 0.8);
    position: fixed;
    height: 60px;
  }
}

.nav {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.nav .icon_barra {
  display: block;
  background-image: url("./../images/Menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  margin: 10px;
  /* &:active ~.nav__elementos{
      display: block;
  } */
}
.nav .icon_barra:hover {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .nav .icon_barra {
    display: none;
  }
}
.nav__elementos {
  width: 100%;
  position: absolute;
  top: 30px;
  text-align: center;
  padding: 10px;
  background-color: rgba(199, 125, 255, 0.8);
  border-radius: 10px;
  display: none;
}
@media only screen and (min-width: 768px) {
  .nav__elementos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 0px;
    background-color: transparent;
  }
}
.nav__elementos li {
  font-size: 20px;
  list-style: none;
  transition: 0.5s all;
  margin: 10px 0px;
  width: 100%;
}
.nav__elementos li :hover {
  transform: scale(1.5);
  padding: 10px 4px;
  border: 1px solid #3c096c;
  border-radius: 10px;
}
.nav__elementos li a {
  text-decoration: none;
  color: #ffffff;
}

.section {
  width: 100%;
  min-height: calc(100vh - 300px);
  margin: 0px auto;
  padding: 20px 0px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
@media only screen and (min-width: 768px) {
  .section {
    padding: 30px;
  }
}
.section__container--banner {
  height: 100%;
  width: 100%;
  align-self: center;
  display: none;
}
@media only screen and (min-width: 992px) {
  .section__container--banner {
    display: block;
    width: 50%;
  }
}
.section__container--banner div {
  min-width: 400px;
  min-height: 400px;
  max-width: 530px;
  background-image: url("../images/banner_option1.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0% auto;
}
.section__container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__container-title {
  min-width: 250px;
  min-height: 200px;
  background-image: url("../images/title.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.section__container-subtitle {
  width: 100%;
}
.section__container-subtitle h1 {
  width: 100%;
  text-align: center;
  font-size: 55px;
  font-size: 3.4375rem;
  line-height: 5.15625rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 4px 1px 1px #c77dff;
  text-transform: uppercase;
}
.section__container-subtitle p {
  text-align: center;
  font-size: 20px;
}

.biografia {
  height: auto;
  width: 100%;
  background-color: #10002b;
  padding: 20px;
}
.biografia__container {
  width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 1480px) {
  .biografia__container {
    width: 70%;
  }
}
.biografia__container-titulo {
  text-align: center;
  font-size: 55px;
  font-size: 3.4375rem;
  line-height: 5.15625rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 4px 1px 1px #c77dff;
  text-transform: uppercase;
}
.biografia__container-parrafo {
  margin-top: 20px;
  text-align: justify;
  font-size: 20px;
  padding: 20px;
  background-color: rgba(199, 125, 255, 0.3);
  border-radius: 20px;
}

.cards {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.cards h3 {
  text-align: center;
  font-size: 55px;
  font-size: 3.4375rem;
  line-height: 5.15625rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 4px 1px 1px #c77dff;
  text-transform: uppercase;
}
.cards__container {
  margin: 40px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards .cards__card {
  height: 300px;
  min-width: 250px;
  max-width: 300px;
  background-color: #10002b;
  position: relative;
  border-radius: 30px;
  margin: 20px 20px;
  box-shadow: 5px 8px 13px #c77dff;
  overflow: hidden;
}
.cards .cards__card-title {
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ffffff;
  font-size: 20px;
}
.cards .cards__card-body {
  height: 70%;
  width: 100%;
  text-align: center;
}
.cards .cards__card-body img {
  width: 50%;
  margin: 0 auto;
}
.cards .cards__card-body p {
  text-align: center;
  padding: 10px 20px;
}
.cards .cards__card-footer {
  position: absolute;
  display: block;
  background-color: #c77dff;
  text-align: center;
  padding: 10px;
  bottom: 0px;
  border-radius: 20px 20px 0px 0px;
  z-index: 1;
  width: 25%;
  left: 40%;
}

.cards__card:hover {
  cursor: pointer;
}

.cards__container:hover .cards__card {
  opacity: 0.3;
}

.cards__container:hover .cards__card:hover {
  transform: scale(1.2);
  /* en predetermiando la escala esta en 1 cuando se aumenta, el objeto va a aumentar un poco*/
  opacity: 1;
}

.contacto {
  margin: 100px 0 0px;
  width: 100%;
  height: auto;
  background-color: #10002b;
  padding: 30px;
}
.contacto h3 {
  text-align: center;
  font-size: 55px;
  font-size: 3.4375rem;
  line-height: 5.15625rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 4px 1px 1px #c77dff;
  text-transform: uppercase;
}
.contacto__form {
  border-radius: 10px;
  background-color: rgba(199, 125, 255, 0.3);
  width: 60%;
  min-width: 270px;
  margin: 0 auto;
  padding: 20px 0px 0px;
}
.contacto__form form {
  width: 100%;
}
.contacto__form form input, .contacto__form form textarea {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  height: 40px;
  font-family: "Fira Sans", sans-serif;
}
.contacto__form form input::placeholder, .contacto__form form textarea::placeholder {
  color: gray;
}

.btn-grad {
  background-image: linear-gradient(to right, #3c096c 0%, #10002b 51%, #c77dff 100%);
}

.btn-grad {
  margin-top: 20px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  width: 100%;
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 40px;
  background-color: rgba(16, 0, 43, 0.2);
  text-align: center;
}
.footer__container h4 {
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px;
}

/*# sourceMappingURL=estilos.css.map */
