
@each $header in (h1,h2,h3){
    #{$header}{
        font-size: 3.5rem !important;
    }
}

.nav__elementos{
    flex-direction: column;
}
.section__container-subtitle h1{
    font-size: 3.5rem;
}
.section__container-title{
    min-width: 250px;
}
.section__container--banner{
    display: none;
}

.biografia__container {
    width: 100%;
}