.biografia{
    height: auto;
    width: 100%;
    background-color: $color-dark;
    padding: 20px;
    &__container{
        width: 90%;
        margin: 0 auto;
        @include media('desktop-l'){
            width:70%    
        }
        &-titulo{
            @include titulos;
        }
        &-parrafo{
            margin-top: 20px;
            text-align: justify;
            font-size: 20px;
            padding: 20px;
            background-color: opacity($color-secundario,0.30);
            border-radius: 20px;
        }
    }
}