.contacto{
    margin: 100px 0 0px;
    width: 100%;
    height: auto;
    background-color: $color-dark;
    padding: 30px;
    h3{
        @include titulos;
    }
    &__form{
        border-radius: 10px;
        background-color: opacity($color-secundario,0.30);
        width: 60%;
        min-width: 270px;
        margin: 0 auto;
        padding: 20px 0px 0px;
        form{
            width: 100%;
            input,textarea{
                width: 80%;
                margin: 0 auto;
                border-radius: 10px;
                height: 40px;
                font-family: $fuente1;
                &::placeholder{
                    color: gray;
                }
            }
            
        }
    }
}


.btn-grad {background-image: linear-gradient(to right, $color-primario 0%, $color-dark  51%, $color-secundario  100%)}
.btn-grad {
    margin-top: 20px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            

   border-radius: 10px;
   display: block;
   width: 100%;
   font-size: 20px;
   font-family: $fuente1;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   cursor: pointer;
 }

