$color-primario: #3c096c;
$color-secundario: #c77dff;
$color-dark:#10002b;
$color-light: #ffffff;
$fuente1: 'Fira Sans', sans-serif;


//Funcion de opacidad
@function opacity($color,$opacidad) {
    @return rgba($color, $opacidad);
} 

@function calculateRem($size){
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
	line-height: calculateRem($size)*1.5;
}

@mixin titulos{
    text-align: center;
    @include font-size(55px);
    text-align: center;
    font-weight: bold;
    text-shadow: 4px 1px 1px $color-secundario;
    text-transform: uppercase;
    
}



@each $input  in label,input,textarea {
    #{$input} {
		display: block;
        margin: 30px auto;
        text-align: center;
        @include font-size(25px);
        
    }
}


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    scroll-behavior:smooth;
}
body{
    background-color: $color-primario;
    font-family: $fuente1;
    color: $color-light;
    
}