.section{
    width: 100%;
    min-height: calc(100vh - 300px);
    margin: 0px auto;
    padding: 20px  0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    @include media('tablet'){
        padding: 30px;
    }
    
    &__container--banner{
        height: 100%;
        width: 100%;
        align-self: center;
        display: none;
        @include media('desktop-s'){
            display: block;
            width: 50%;
        }
        
        div{
            min-width: 400px;
            min-height: 400px;
            max-width: 530px;
            background-image: url('../images/banner_option1.png');
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0% auto;
            
        } 
    }
    &__container{
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-title{
            min-width: 250px;
            min-height: 200px;
            background-image: url('../images/title.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        &-subtitle{
            width: 100%;

           h1{
               width: 100%;
               @include titulos;
           }
           p{
               text-align: center;
               font-size: 20px;
           }
        }
    }
}

