.header{
    height: 60px;
    width: 100%;
    background-color: opacity($color-secundario,.30);
    border-radius: 0px 0px 50px 50px;
    position: fixed;
    z-index: 10000;
}
.nav{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    position: relative;

    @include media('tablet'){
        display: flex;  
        align-items: center;
        justify-content: space-around;
    }
    .icon_barra{
        display: block;
        background-image:url('./../images/Menu.svg') ;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        margin: 10px;
        /* &:active ~.nav__elementos{
            display: block;
        } */
        
        @include media('tablet'){
            display: none;
        }
    }
    
    
    &__elementos{
        width: 100%;
        position: absolute;
        top: 30px;
        text-align: center;
        padding: 10px;
        background-color: opacity($color-secundario , 0.80);
        border-radius: 10px;
        display: none;
        
    
        @include media('tablet'){
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: relative;
            top: 0px;
            background-color: transparent;
        }
        li{
            font-size: 20px;
            list-style: none;
            transition: .5s all;
            margin: 10px 0px;
            width: 100%;

            :hover{
                transform: scale(1.5);
                padding: 10px 4px;
                border: 1px solid $color-primario;
                border-radius: 10px;
            }
            a{
                text-decoration: none;
                color: $color-light;
            }
        }
    }
}